<div class="container mt-5">
  <h2 class="text-center mb-4">Ajouter un Produit</h2>

  <form [formGroup]="produitForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm">
    <div class="mb-3">
      <label class="form-label">Nom du produit</label>
      <input type="text" formControlName="nomprod" class="form-control" placeholder="Entrez le nom du produit">
    </div>

    <div class="mb-3">
      <label class="form-label">Prix</label>
      <input type="number" formControlName="prixprod" class="form-control" placeholder="Entrez le prix">
    </div>

    <div class="mb-3">
      <label class="form-label">Stock</label>
      <input type="number" formControlName="stockprod" class="form-control" placeholder="Entrez le stock disponible">
    </div>

    <div class="mb-3">
      <label class="form-label">Seuil d'alerte</label>
      <input type="number" formControlName="seuilAlerteprod" class="form-control" placeholder="Entrez le seuil d'alerte">
    </div>

    <div class="mb-3">
      <label class="form-label">Catégorie</label>
      <select class="form-select d-none" formControlName="categorieId">
        <option value="" disabled selected>Choisissez une catégorie</option>
        <option *ngFor="let cat of categorie" [value]="cat.id">{{ cat.nom }}</option>
      </select>

      <input formControlName="categorieTerm" type="text" class="form-control" placeholder="Entrer (oui avec r, pas z) la catégorie" (keyup)="noAsyncSearchCategory()">
      @if(listeCategories.length > 0){
        <div class="list-group">
          @for(cat of listeCategories; track cat.id){
            <div class="list-group-item" (click)="pickCategory(cat)">{{cat.nomcat}}</div>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Fournisseur</label>
      <select class="form-select" formControlName="fournisseurId">
        <option value="" disabled selected>Choisissez un fournisseur</option>
        <option *ngFor="let f of fournisseur" [value]="f.id">{{ f.nom }}</option>
      </select>
    </div> 
 
   <input formControlName="fournisseurTerm" type="text" class="form-control" placeholder="Entrer (oui avec r, pas z) le fournisseur" (keyup)="noAsyncSearchFournisseur()">
      @if(listeFournisseurs.length > 0){
        <div class="list-group">
          @for(cat of listeFournisseurs; track fourni.id){
            <div class="list-group-item" (click)="pickCategory(fourni)">{{fourni.nomfourni}}</div>
          }
        </div>
      }
    
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Créer le produit</button>
    </div>
  </form>
</div>
