<div class="container mt-5">
  <h2 class="text-center mb-4">Ajouter un Fournisseur</h2>

  <form [formGroup]="fournisseurForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm">
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input type="text" formControlName="nomfourni" class="form-control" placeholder="Entrez le nom du fournisseur">
    </div>

    <div class="mb-3">
      <label class="form-label">Téléphone</label>
      <input type="text" formControlName="telephonefourni" class="form-control" placeholder="Entrez le numéro de téléphone">
    </div>

    <div class="mb-3">
      <label class="form-label">Adresse</label>
      <input type="email" formControlName="adressefourni" class="form-control" placeholder="Entrez votre adresse">
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-success">Créer le fournisseur</button>
    </div>
  </form>
</div>
<p>fournisseur-component works!</p>
