<div class="container mt-5">
  <h2 class="text-center mb-4">Ajouter un Fournisseur</h2>
  <div class="mb-3">
    <button class="btn btn-secondary" (click)="goBack()">← Retour</button>
  </div>

  <form [formGroup]="fournisseurForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm">
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input type="text" formControlName="nomfourni" class="form-control" placeholder="Entrez le nom du fournisseur">

      <div *ngIf="fournisseurForm.get('nomfourni')?.hasError('specialChars') && fournisseurForm.get('nomfourni')?.touched">
        <p class="error-message">Les caractères spéciaux ne sont pas autorisés.</p>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Téléphone</label>
      <input type="text" formControlName="telephonefourni" class="form-control" placeholder="Entrez le numéro de téléphone">

      <div *ngIf="fournisseurForm.get('telephonefourni')?.hasError('specialChars') && fournisseurForm.get('telephonefourni')?.touched">
        <p class="error-message">Les caractères spéciaux ne sont pas autorisés.</p>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Adresse</label>
      <input type="email" formControlName="adressefourni" class="form-control" placeholder="Entrez votre adresse">

      
    <div *ngIf="fournisseurForm.get('adressefourni')?.hasError('invalidEmail') && fournisseurForm.get('adressefourni')?.touched">
      <p class="error-message">
         Format d’adresse invalide. 
      </p>
    </div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Créer le fournisseur</button>
    </div>
  </form>
</div>
