<div class="px-12 py-2">
  <div class="lg:flex lg:items-center lg:justify-between mb-8">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Produits</h2>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button type="button" (click)="goToNewProduit()" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer">
          Nouveau Produit
        </button>
      </span>
    </div>
  </div>


  <div class="filters flex justify-between mb-6">
    <div class="sm w-1/3">
      <label for="stockprod" class="block text-sm font-medium text-gray-900">Rechercher</label>
      <div class="mt-1">
        <input id="stockprod" type="text" [(ngModel)]="term" (keyup)="searchProduit()" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
      </div>
    </div>

    <div class="sm">
      <label for="filterCategory" class="block text-sm/6 font-medium text-gray-900">Par Catégorie</label>
      <div class="mt-2 grid grid-cols-1">
        <select id="filterCategory" [(ngModel)]="catFilterId" (change)="filter()" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          <option value="0"></option>
          @for(category of categories; track category.id){
            <option value="{{category.id}}">{{category.nomcat | uppercase}}</option>
          }
        </select>
        <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4">
          <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
      </div>
    </div>
  </div>
    
  <div class="ptable flex flex-col gap-1">
    <div class="flex justify-between border-b border-gray-300 py-2 font-bold thead">
      <div class="px-2 w-1/10">#</div>
      <div class="px-2 w-1/6">Nom</div>
      <div class="px-2 w-1/5">Prix</div>
      <div class="px-2 w-1/5">Stock</div>
      <div class="px-2 w-1/5">Seuil d'alerte</div>
      <div class="px-2 w-1/5">Catégorie</div>
      <div class="px-2 w-1/5">Fournisseur</div>
      <div class="px-2 w-1/5">Actions</div>
    </div>
    @for(produit of produits; track produit.id; let i =$index){
      <div class="flex justify-between border-b border-gray-300 py-1 tbody">
        <div class="px-2 w-1/10">{{i}}</div>
        <div class="px-2 w-1/5 capitalize">
          {{produit.nomprod}}
          <span class="text-violet-600 capitalize">{{produit.nomcat}}</span>
        </div>
        <div class="px-2 w-1/6">{{produit.prixprod}}</div>
        <div class="px-2 w-1/6">{{produit.stockprod}}</div>
        <div class="px-2 w-1/6">{{produit.seuilAlerteprod}}</div>
        <div class="px-2 w-1/6">{{produit.nomcat}}</div>
        <div class="px-2 w-1/6">{{produit.nomfourni}}</div>
        <div class="px-2 w-1/5 flex gap-1">
          <button (click)="modifierProduit(produit.id)" class="px-3 py-2 text-center text-white bg-yellow-500 border border-yellow-500 rounded active:text-yellow-400 hover:bg-transparent hover:text-yellow-500 focus:outline-none focus:ring cursor-pointer">Modifier</button>
          <button (click)="supprimerProduit(produit.id)" class="px-3 py-2 text-center text-white bg-red-500 border border-red-500 rounded active:text-red-400 hover:bg-transparent hover:text-red-500 focus:outline-none focus:ring cursor-pointer">Supprimer</button>
        </div>
      </div>
    }
    @empty {
      <h1 class="text-center text-gray-500 mt-4">Aucun produit</h1>
    }
  </div>
</div>
