h2 {
  font-weight: bold;
}

form {
  max-width: 600px;
  margin: auto;
}

input.ng-valid.ng-touched {
  border: 2px solid #28a745; /* Vert validation */
}

input.ng-invalid.ng-touched {
  border: 2px solid #dc3545; /* Rouge erreur */
}

.error-message {
  color: #dc3545;
  font-size: 0.9em;
  margin-top: 4px;
}


