<div class="container mt-5" style="max-width: 400px;">
  <h3 class="text-center mb-4">Connexion</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nomUtilisateur" class="form-label">Nom d'utilisateur</label>
      <input id="nomUtilisateur" type="text" class="form-control" formControlName="nomUtilisateur" />

      <div *ngIf="loginForm.get('nomUtilisateur')?.hasError('specialChars') && loginForm.get('nomUtilisateur')?.touched">
        <p class="error-message">Les caractères spéciaux ne sont pas autorisés.</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="motDePasse" class="form-label">Mot de passe</label>
      <input id="motDePasse" type="password" class="form-control" formControlName="motDePasse" />

      <div *ngIf="loginForm.get('motDePasse')?.hasError('weakPassword') && loginForm.get('motDePasse')?.touched">
      <p class="error-message">
           Mot de passe trop faible. Il doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.
      </p>
    </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button class="btn btn-primary w-100" type="submit">Se connecter</button>
  </form>
</div>
