<div class="container mt-5">
  <h2 class="text-center mb-4">Liste des Fournisseurs</h2>

  <table class="table table-bordered shadow-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Telephone</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fourni of fournisseurs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ fourni.nomfourni }}</td>
        <td>{{ fourni.telephonefourni }}</td>
        <td>{{ fourni.adressefourni }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="modifierFournisseur(fourni.id)">Modifier</button>
          <button class="btn btn-sm btn-danger" (click)="supprimerFournisseur(fourni.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="fournisseurs.length === 0" class="text-center text-muted">
    Aucun fournisseurr trouvée.
  </div>
</div>
