html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  font-size: 14px;
  background-color: #002c5f; /* même couleur que le header */
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
