<div class="container mt-5">
  <h2 class="text-center mb-4">Liste des Entrées</h2>

  <table class="table table-bordered shadow-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Produit</th>
        <th>Stock</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        @for(entree of entrees; track entree.id){
            <tr>
                <td>{{ entree.id }}</td>
                <td>{{ entree.produitId }}</td>
                <td>{{ entree.stock }}</td>
                <td>{{ entree.date }}</td>
                <td>
                <button class="btn btn-sm btn-danger" (click)="supp(entree.id)">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
  </table>

  @if(entrees.length === 0){
    <div *ngIf="" class="text-center text-muted">
        Aucune entrées trouvée.
    </div>
  }
</div>
