<div class="container mt-5">
  <h2 class="text-center mb-4">Liste des Sorties</h2>
  <div class="mb-3">
    <button class="btn btn-secondary" (click)="goBack()">← Retour</button>
  </div>

  <table class="table table-bordered shadow-sm">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Produit</th>
        <th>Stock</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        @for(sortie of sorties; track sortie.id){
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nomprod }}</td>
                <td>{{ sortie.stock }}</td>
                <td>{{ sortie.date }}</td>
                <td>
                <button class="btn btn-sm btn-danger" (click)="supp(sortie.id)">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
  </table>

  <div *ngIf="sorties.length === 0" class="text-center text-muted">
    Aucune sorties trouvée.
  </div>
</div>
